<p id="notice"><%= notice %></p>

<h1>inscrições</h1>

<table>
  <thead>
    <tr>
      <th>Usuario </th>
      <th>Palestra</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscricoes.each do |ins| %>
      <tr>
        <td><%= ins.user_id.nome %></td>
        <td><%= ins.palestra_id.nome %></td>
        
        <td><%= link_to 'Show', ej %></td>
        <td><%= link_to 'Edit', edit_ej_path(ej) %></td>
        <td><%= link_to 'Destroy', ej, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova inscrição', new_ej_path %>
