<div id="loginBox">
  <div id="log-in">
    <h2>LOG IN USUARIO</h2>
    <h2>FILE: views/sessions/new.html</h2>
    <p><%= notice %></p>
    <%= form_for :session do |f| %>
      <%= f.text_field :email , :placeholder=> "email@email.com" %><br />
      <%= f.password_field :password, :placeholder=>"senha" %><br>
      <br>
      <div id="loginBtn">
        <%= f.submit "Entrar" %>
      </div>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Me manter conectado</span><br>
      <%= link_to "Esqueci minha senha", new_password_reset_path %>
      <% end %>
      <p id="cadastre-se"><%= link_to 'Cadastre-se aqui', new_user_path %></p>
    <% end %>
  </div>
</div>