<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container"><h1>Ativar conta</h1>
  
  <p>Olá, <%= @user.nome %>,</p>
  
  <p>Para confirmar seu cadastro, por favor, clique no link abaixo.</p>
  
  <%= link_to "Ativar", edit_account_activation_url(@user.activation_token, email: @user.email) %>
  
   <p> Caso não tenha se cadastrado, favor desconsiderar esse email.</p>
</div>