Olá, <%= @user.nome %>,


Para confirmar seu cadastro, por favor, clique no link abaixo.

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>


Caso não tenha se cadastrado, favor desconsiderar esse email.