<%= form_with(model: quarto, local: true) do |form| %>
  <% if quarto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quarto.errors.count, "error") %> prohibited this quarto from being saved:</h2>

      <ul>
      <% quarto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :quarto_nome %>
  </div>

  <div class="field">
    <%= form.label :cama_solteiro %>
    <%= form.number_field :cama_solteiro, id: :quarto_cama_solteiro %>
  </div>
  
  <div class="field">
    <%= form.label :cama_casal %>
    <%= form.number_field :vagas_cama_casal, id: :quarto_cama_casal %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
