<p id="notice"><%= notice %></p>

<h1>Quartos</h1>

<table>
  <thead>
    <tr>
      <th>Acomodação</th>
      <th>Nome</th>
      <th>Cama solteiro</th>
      <th>Cama casal</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quartos.each do |quarto| %>
      <tr>
        <td><%= quarto.hotel_pousada.nome %></td>
        <td><%= quarto.nome %></td>
        <td><%= quarto.cama_solteiro %></td>
        <td><%= quarto.cama_casal %></td>
        
        <td><%= link_to 'Show', quarto %>
        <br><%= link_to 'Edit', edit_quarto_path(quarto) %>
        <br><%= link_to 'Destroy', quarto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quarto', new_quarto_path %>
