<p id="notice"><%= notice %></p>

<p>  <strong>Nome:</strong>  <%= @quarto.nome %></p>

<p>  <strong>Disponibilidade : cama de casal:</strong>  <%= @quarto.cama_casal %></p>
  <% if @quarto.cama_casal > 0 %>
      <%= link_to 'RESERVAR', reserva_cama_path, method: :post, data: { confirm: 'CONFIRMA SUA RESERVA?' } , :class=> "reserva-quarto" %>
  <% end %>

<p>  <strong>Disponibilidade : cama de solteiro:</strong>  <%= @quarto.cama_solteiro %></p>
  <% if @quarto.cama_solteiro > 0 %>
      <%= link_to 'RESERVAR', reserva_cama_path, method: :post, data: { confirm: 'CONFIRMA SUA RESERVA?' } , :class=> "reserva-quarto" %>
  <% end %>

<br>
<br>

<hr>

      <div id="pessoas-no-quarto">
        <h3>Pessoas no mesmo quarto</h3>
            <ul>
              <% if @pessoas %>
                  <% @pessoas.each do |pessoa| %>
                    <li><%= image_tag(pessoa.photo_url) if pessoa.photo.present?%>
                    <br><%= pessoa.nome %></li>
                  <% end %>
              <% else %>
                <h4>Ainda não foi reservado</h3>
              <% end %>
                  
            </ul>
      </div>
      
<div class="cleaning"></div>





<%= link_to 'Edit', edit_quarto_path(@quarto) %> |
<%= link_to 'Back', quartos_path %>
