<div id="new-user">
  <div class="easterEgg"><h1>FILE: view/user/_form.html  </h1>
  <h1>Formulario individual </h1></div>
  
  <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <h2>Criar um novo usuário:</h2>
      <div id="uploadPhoto">
      <%= form.label :Foto_de_perfil %>
      <%= form.file_field :photo %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <div class="field">
        <%= form.label :nome %>
        <%= form.text_field :nome, id: :user_nome, :placeholder=> "João" %>
      </div>
    </div>
    <div class="six columns">
      <div class="field">
        <%= form.label :sobrenome %>
        <%= form.text_field :sobrenome, id: :user_sobrenome, :placeholder=> "das Neves" %>
      </div>
    </div>
  </div>
  <div class ="row">
    <div class="six columns">
      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, id: :user_email, :placeholder=> "email@dominio.com" %>
      </div>
    </div>
      <div class="six columns">
        <div class="field">
        <%= form.label :cpf %>
        <%= form.text_field :cpf, id: :user_cpf, :placeholder=> "1234567890" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <div class="field">
        <%= form.label :senha %>
        <%= form.password_field :password, id: :user_password, :placeholder=> "Senha" %>
      </div>
    </div>
    <div class="six columns">
      <div class="field">
        <%= form.label :confirme_sua_senha %>
        <%= form.password_field :password_confirmation, id: :user_password_confirmation, :placeholder=> "Senha" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="six columns">
      <div class="field">
        <%= form.label :Selecione_sua_EJ %>
         <%= form.select :ej_id, @ejs.collect { |ej| [ej.nome, ej.id] }, :prompt => "Sua escolha" %>
        </select>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="six columns" class="field">
        <%= form.label :palestrante %>
        <%= form.check_box :palestrante, id: :user_palestrante %>
      </div>
      <div class="six columns" class="field">
          <%= form.label "Admin" %> 
          <%= form.check_box :adm %><br />
      </div>
    </div>
      <div class="actions">
        <%= form.submit %>
      </div>
<% end %>
</div>