<div id="detalhe-palestras">
  <h2>Inscrições em palestras</h2>
  <table id="palestras">
              <!--PALESTRANTE=======ASSUNTO==========DETALHE=======VAGAS=========DIA-->
    <thead>
      <tr><th>Controle</th><th>Palestrante</th>
        <th>Nome - Assunto</th>
        <th>Detalhe</th>
        <th>Dia da palestra</th>
      </tr></thead><tbody>
        
      <% @palestras.each do |ins| %>
        <tr>
        <td><%= link_to 'CANCELAR', cancelamento_path(ins.id) ,method: :delete, class: "cancelamento" , remote: true,authenticity_token: true %><br>
          <%= link_to 'TRANSFERIR', data: { confirm: 'Confirmar transferencia' }, class: "transfer" , remote: true, authenticity_token: true %></td>
          <td>
            <strong><%= ins.user.nome %></strong><br>
            <%= image_tag(ins.user.photo_url) if ins.user.photo.present? %>
          </td>
          <td><%= ins.name %></td>
          <td><%= ins.detalhe %></td>
          <td><%= ins.dia %></td> | 
        </tr>
     <% end %>
    </tbody>
  </table>
    
  </div>