<div id="quickView">
  
  <div id="selectedHotel">
    <h4>Acomodação selecionada pelo usuário</h4>
  </div>
  
  <div class="divisoria">

  </div>
  <div id="selectedActivities">
    <h4>Palestras selecionadas pelo usuário</h4>
  </div>
  
</div>