<% provide(:title, "Usuarios | Index | ")%>

<div id="user-index-html">
  <p id="notice"><%= notice %></p>
  <div class="easterEgg"><h1>FILE : User / index.html  </h1></div>
  <h1>Usuários</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Senha</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nome %></td>
          <td><%= user.sobrenome %></td>
          <td><%= user.cpf %></td>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
          <td><%= link_to 'Mostrar', user %></td>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="navPag"><%= will_paginate @users %></div>
</div>