<% provide(:title, "Usuario/show | ")%>
<div class="container">
  <div id="user-account-details">
    <p id="notice"><%= notice %></p>
    <h2>Detalhes da conta</h2>
      <ul>
        <li><span class="descritivo">Nome do usuário:</span> <span class="valor"><%= @user.nome %></span> <span class="valor"><%= @user.sobrenome %></span></li>
        <li><span class="descritivo">CPF:</span> <span class="valor"><%= @user.cpf %></span></li>
        <li><span class="descritivo">Email:</span> <span class="valor"><%= @user.email %></span></li>
        <li><span class="descritivo">Empresa Junior:</span> <span class="valor"><%= @user.ej.nome %></span></li>
        <li><span class="valor"><%="Administrador" if @user.adm.present? %></span></li>
        <li><span class="valor"><%="Palestrante" if @user.palestrante.present? %></span></li>
      </ul>
      
      
  <div class="divisoria"></div>

  <ul class="atributos">
    <li>Nome completo:</li>
    <li>CPF cadastrado:</li>
    <li>Email para contato:</li>
    <li>Empresa Junior:</li>
    <li>Gênero:</li>
  </ul>
  <ul class="dados-cadastrados">
    <li><span class="valor"><%= @user.nome %></span> <span class="valor"><%= @user.sobrenome %></span></li>
    <li><span class="valor"><%= @user.cpf %></span></li>
    <li><span class="valor"><%= @user.ej.nome %></span></li>
    <li><span class="valor"><%="Administrador" if @user.adm.present? %></span></li>
    <li><span class="valor"><%="Palestrante" if @user.palestrante.present? %></span></li>
  </ul>
      
    <div class="cleaning"></div>
  </div>
    <%= link_to 'Edit', edit_user_path(@user), :class=>"navBtn" %> |
    <%= link_to 'Back', home_path, :class=> "navBtn" %>
 
<div class="easterEgg">    <%= render 'palestras' %>
    <div id="detalhe-cama">
      <h2>Reservada acomodação</h2>
      <table id="reservas">
          <!--=============NOME ==============HOTEL===============VAGAS ==================-->
      <thead><tr><th>Nome </th><th>Hotel</th><th>Vagas</th></tr></thead>
        <tbody><% @reservas.each do |reserva| %><tr>
            <td><%= reserva.nome %></td>
            <td><%= reserva.hotel_pousada.nome %></td>
            
          </tr>
        <% end %></tbody>
      </table>
    </div>
</div>  
</div>
