<%= form_with(model: hotel_pousada, local: true) do |form| %>
  <% if hotel_pousada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel_pousada.errors.count, "error") %> prohibited this hotel_pousada from being saved:</h2>

      <ul>
      <% hotel_pousada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :hotel_pousada_nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
