<%= form_with(model: fotos_hotel, local: true) do |form| %>
  <% if fotos_hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel_pousada.errors.count, "error") %> prohibited this hotel_pousada from being saved:</h2>

      <ul>
      <% hotel_pousada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="six columns">
      <div id="uploadPhoto">
      <%= form.label :foto %>
      <%= form.file_field :foto %>
      </div>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
