<h1>Editing Hotel Pousada</h1>

<%= render 'form', hotel_pousada: @hotel_pousada %>

<h2>upload de fotos</h2>
<h3>  colocar aqui o form para carregar fotos</h3>

</hr>
<%= link_to 'Show', @hotel_pousada %> |
<%= link_to 'Back', hotel_pousadas_path %>
