<p id="notice"><%= notice %></p>

<h1>Estabelecimentos</h1>

<table>
  <thead>
    <tr>
      <th>ID hotel/pousada</th>
      <th>Nome</th>
      <th>Vagas</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotel_pousadas.each do |hotel_pousada| %>
      <tr>
        <td><%= hotel_pousada.id %></td>
        <td><%= hotel_pousada.nome %></td>
        <td><%= hotel_pousada[:total_de_vagas] %></td>
        
        <td><%= link_to 'Show', hotel_pousada %></td>
        <td><%= link_to 'Edit', edit_hotel_pousada_path(hotel_pousada) %></td>
        <td><%= link_to 'Destroy', hotel_pousada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel Pousada', new_hotel_pousada_path %>
