<p id="notice"><%= notice %></p>

<p>
  <strong>id do estabelecimento:</strong>
  <%= @hotel_pousada.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @hotel_pousada.nome %>
</p>


<h2>Quartos disponiveis</h2>
<table><thead>
    <tr><th>Quartos</th><th colspan='2'>Camas</th></tr>
        <tr><th></th><th>Solteiro</th><th>casal</th>
        </tr>
        </thead>
        <tbody>
          <% @quartos.each do |quarto| %>
            <tr>
              <td><%= quarto.nome %>
              <br><%= link_to 'DETALHE DO QUARTO', detalhe_quarto_path(quarto.id)%>
              </td>
                  <td>
                    <%= quarto.cama_solteiro %>
                 
                  </td>
                  <td><%= quarto.cama_casal %>
                  
                    
                  </td></tr></tr>
                  
          <% end %>
        </tbody>
</table>

      
<%= link_to 'Criar quarto', new_quarto_path %> |
<%= link_to 'Edit', edit_hotel_pousada_path(@hotel_pousada) %> |
<%= link_to 'Back', hotel_pousadas_path %>
