<div class="links">
  <h1>Gerenciar:</h1>
  <%= link_to 'Users', users_path, :class => "navBtn" %><br>
  <%= link_to 'Empresas Juniores', ejs_path, :class => "navBtn" %><br> 
  <%= link_to 'Federações', federacaos_path, :class => "navBtn" %>
</div>