<div class="container">
  <div id="pageEvento">
    <div class="logoEvento"></div>
    <div id="aboutEvento"><p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta nisi quis pulvinar dictum. Sed lacus quam, pharetra sit amet mi in, varius elementum ex. Suspendisse eleifend eu magna et aliquam. Maecenas lobortis turpis quam, eu fringilla diam ullamcorper ut. Donec eget ligula ac nunc euismod rhoncus eget et elit. Etiam malesuada et ligula ac fermentum. Suspendisse vitae facilisis massa. Nunc elementum varius euismod. Curabitur iaculis turpis volutpat augue eleifend, tempor varius ante dictum. Curabitur elementum risus eu auctor posuere. In fringilla finibus erat a sodales.</p>
    <%= link_to 'Veja a programação completa', palestras_path, :class=>"navBtn" %>
    <%= link_to 'Selecione sua acomodação', hotel_pousadas_path, :class=>"navBtn" %></div>
  </div>  
</div>