<%= form_with(model: federacao, local: true) do |form| %>
  <% if federacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(federacao.errors.count, "error") %> prohibited this federacao from being saved:</h2>

      <ul>
      <% federacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :federacao_nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
