<p id="notice"><%= notice %></p>

<h1>Federações</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @federacaos.each do |federacao| %>
      <tr>
        <td><%= federacao.nome %></td>
        <td><%= link_to 'Mostrar', federacao %></td>
        <td><%= link_to 'Editar', edit_federacao_path(federacao) %></td>
        <td><%= link_to 'Remover', federacao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo registro de Federacao', new_federacao_path %> |
<%= link_to 'Voltar', crud_path %>
