<%= form_with(model: ej, local: true) do |form| %>
  <% if ej.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ej.errors.count, "error") %> prohibited this ej from being saved:</h2>

      <ul>
      <% ej.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :ej_nome %>
  </div>

  <div class="field">
    <%= form.label :faculdade %>
    <%= form.text_field :faculdade, id: :ej_faculdade %>
  </div>
  
  <div class="field">
    <%= form.label :Selecione_sua_Federacao %>
    <%= form.select :federacao_id, @federacaos.collect { |federacao| [federacao.nome, federacao.id] }, :prompt => "Sua escolha" %>
  </div>

  <div class="field">
    <%= form.label :federada %>
    <%= form.check_box :federada, id: :federacao_federada %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
