<p id="notice"><%= notice %></p>

<h1>Empresas Juniores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Faculdade</th>
      <th>Federação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ejs.each do |ej| %>
      <tr>
        <td><%= ej.nome %></td>
        <td><%= ej.faculdade %></td>
        <td><%= ej.federacao.nome %></td>
        <td><%= link_to 'Mostrar', ej %></td>
        <td><%= link_to 'Editar', edit_ej_path(ej) %></td>
        <td><%= link_to 'Remover', ej, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo registro de Empresa Junior', new_ej_path %> |
<%= link_to 'Voltar', crud_path %>
