<p id="notice"><%= notice %></p>

<h1>Ranking das Empresas Juniores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Empresa Junior</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ejs.order(membros: :desc).each do |ej| %>
      <tr>
        <td><%= ej.nome %></td>
        <td><%= ej.membros %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', home_path %>