<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ej.nome %>
</p>

<p>
  <strong>Faculdade:</strong>
  <%= @ej.faculdade %>
</p>

<p>
  <strong>Federacao:</strong>
  <%= @ej.federacao.nome %>
</p>

<p>
  <strong>Federada:</strong>
  <%= @ej.federada %>
</p>

<%= link_to 'Edit', edit_ej_path(@ej) %> |
<%= link_to 'Back', ejs_path %>
