<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "Novo arquivo", new_arquivo_path %>
<br />
<br />

<table class = "field">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @arquivos.each do |arquivo| %>
         <tr>
            <td><%= arquivo.name %></td>
            <td><%= link_to "Download arquivo", arquivo.attachment_url %></td>
            <td><%= button_to "Delete",  arquivo, method: :delete, confirm: "Are you sure that you wish to delete #{arquivo.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<%= link_to 'Back', palestras_path %>
