<% if !@arquivo.errors.empty? %>
   <div class = "alert-error">
      <ul>
         <% @arquivo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<%= form_for @arquivo, html: { multipart: true } do |f| %>
   <div class = "field">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.submit "Save" %>
   </div>
   
   <div class="field">
      <%= f.label :Selecione_a_palestra %>
      <%= f.select :palestra_id, @palestras.collect { |palestra| [palestra.name, palestra.id] }, :prompt => "Sua escolha" %>
   </div>
<% end %>

<%= link_to 'Back', arquivos_path %>
