<%= form_with(model: palestra, local: true ,:class => "nova-palestra") do |form|  %>
  <div class="easterEgg">
  <h2>formulario</h2>
  <h2>FILE : palestras/_form.html</h2>
  </div>
  
  <% if palestra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(palestra.errors.count, "error") %> prohibited this palestra from being saved:</h2>

      <ul>
      <% palestra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nome da palestra" %>
    <%= form.text_field :name, id: :palestra_name %>
  </div>
  
  <div class="field">
    <%= form.label "Descrição da palestra" %>
    <%= form.text_area :detalhe, id: :palestra_detalhe %>
  </div>
  
  <div class="field">
    <%= form.label "Quantidade de vagas" %>
    <%= form.text_field :vagas, id: :palestra_vagas %>
  </div>
  
  <div class="field">
    <%= form.label "Dia da palestra" %>
    <%= form.text_field :dia, id: :palestra_dia %>
  </div>

  <div class="field">
    <%= form.label :Selecione_o_Palestrante %>
    <%= form.select :user_id, @palestrantes.collect { |palestrante| [palestrante.nome, palestrante.id] }, :prompt => "Selecione palestrante" %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
