<% provide(:title, "Palestras | Index | ")%>
<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h1>Palestras</h1>
  
  <table id="palestras">
    <thead>
      <tr>
        <th>Quero assistir</th>
        <th>Vagas</th>
        <th>Nome - Assunto</th>
        <th>Detalhe</th>
        <th>Palestrante</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @palestras.each do |palestra| %>
        <tr>
          <td>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>

          </td>
         
          <td><%= palestra.vagas %></td>
          <td><%= palestra.name %></td>
          <td><%= palestra.detalhe %></td>

          <td><strong><%= palestra.user.nome %></strong>
          <br>
          <%= image_tag(palestra.user.photo_url) if palestra.user.photo.present? %>
          </td>
          
          <td>
            <p class="index-palestra"><%= link_to 'Show', palestra %></p>
            <% if current_user.adm || current_user.palestrante %>
              <p class="index-palestra"><%= link_to 'Edit', edit_palestra_path(palestra)%></p>
            <% end %>
            <% if current_user.adm? %>
              <p class="index-palestra destroy"><%= link_to 'Destroy', palestra, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
          </td>
        </tr>
     <% end %>
    </tbody>
  </table>
  <div class="navPag"><%= will_paginate @palestras %></div>
  
        <%= link_to 'Nova Palestra', new_palestra_path %> |
        <%= link_to 'Voltar', home_path %>
</div>