<div class="container">
  <div id="nova-palestra">
  <h1>Nova Palestra</h1>
  <h2>FILE : palestras/new.html</h2>
  
  <%= render 'form', palestra: @palestra %>
  
  <%= link_to 'Back', palestras_path %>
  </div>
</div>