<p id="notice"><%= notice %></p>

<div class="detalhe-palestra">
  <p>
    <strong>Identificador :</strong>
    <%= @palestra.id %>
  </p>
  
  <p>
    <strong>Nome da palestra:</strong>
    <%= @palestra.name %>
  </p>
  <p>
    <strong>Detalhe da palestra:</strong>
    <%= @palestra.detalhe %>
  </p>
  <p>
    <strong>Vagas:</strong>
    <%= @palestra.vagas %>
  </p>
  
  <p>
    <strong>Dia:</strong>
    <%= @palestra.dia %>
  </p>
  
</div>

<div class="palestrante">
  <p><strong>Palestrante: </strong><%= @palestra.user.nome %> <%= @palestra.user.sobrenome %></p>
   <%= image_tag(@palestra.user.photo_url) if @palestra.user.photo.present? %>
</div>

<%= link_to "Arquivos", arquivos_path %> |
 
<%= link_to 'CONFIRMAR INSCRIÇÃO NA PALESTRA', palestra_incricao_path(@palestra) %>
<br>
<br>
<%= link_to 'Editar', edit_palestra_path(@palestra) %> |
<%= link_to 'Voltar', palestras_path %>
</div>