/* This is the main stylesheet 

Content Index:

- General
- Logged Header
- Login page
- Create user
- Landing Page
- Home Page
- Buttons and Nav links
- User profile 
- Event Page
- Miscellaneous
- Rounded sliders
- Footer
- Function clear

-------------------------------*/

/* General */

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  border-radius: 2px;
  box-sizing: border-box;
}
a {
  color: #399748;
  text-decoration:none;
}
a:hover {
  color: #266430;
}
  
/* logged header */

#loggedHeader {
  margin: 0px auto;
  padding: 0 20px;
  background-color: #000000;
  color: #FFFFFF;
}
#loggedHeader p{
  max-width:1024px;
  width:100%;
  margin: 0 auto;
}
#loggedHeader a {
  float: right;
  padding: 0 15px;
  color: #CCCCCC;
  text-decoration:none;
}
#loggedHeader a:hover{
  color:#FFFFFF;
  text-decoration: underline;
}

/* Login page */

#loginBox{
  width:300px;
  margin: auto;
  padding: 20px;
  margin-top:15%;
  height: 420px;
  text-align: center;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
}
#log-in {
  width:100%;
  height:100%;
  margin: auto;
  padding: auto;
  padding-top:120px;
}
#log-in h2 {
  display:none
}
.easterEgg {
  display:none;
}
form {
  margin:auto;
}
#log-in p {
  font-weight:600;
  margin-top:40px;
}
#log-in a:hover{
  text-decoration: underline;
}
#session_email, #session_password, #loginBtn input {
  width:80%;
}

#loginBtn input {
  background-color: #399748;
  color: #000000;
}
#loginBtn input:hover {
  background-color: #47BD5A;
}

/* Creat User */

#new-user{
  margin-left: auto;
  max-width: 80%;
}
#new-user h2{
  text-align: right;
  max-width: 80%;
  margin: 18px auto;
}
.returnBtn {
  float: right;
  max-width: 960px;
  width:71%;
  margin-left: auto;
  margin-right: 9%;
}
.actions input{
  width:89%;
  background-color: #47BD5A;
  color: #000000;
}

/* Landing Page */

#homepage {
  margin-top: 10px;
}
.row {
  margin: 5px auto;
}
#userMain, #topEJs {
  background-color: #CCCCCC;
  height:100%;
  text-align: center;
  padding: 10px;
  margin: auto;
}
#userMain{
  min-height:280px;
}
#topEJs{
  max-height:280px;
  height:100%;
}
#userMain h4, #topEJs h4 {
  max-width: 200px;
  width: 100%;
  text-align: center;
  background-color: #A5A5A5;
  margin: 1px auto;
}
#topEJs {
  margin-top: 10px;
}
#topEJs h3 {
  padding:10px 0;
}
#content {
  background-color: #CCCCCC;
  min-height:440px;
  margin-top:10px;
}
#userNav{
 min-height: 1.4em; 
 height: 100%;
 background-color: #CCCCCC;
 padding:10px;
 text-align:right;
}
#userNav ul{
  margin: 0 auto;
}
#userNav ul li {
  list-style:none;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom:0px;
}
#userNav ul li a {
  transition: 0.3s;
  height: 100%;
  width:100%;
  padding:10px;
}
#userNav a:hover {
  height:100%;
  background-color: #A5A5A5;
  transition-duration: 0.3s;
}
#classificacaoEJs{
  padding-top:5%;
}
/* Home Page */
#quickView {
  height:100%;
  width:100%;
  padding:10px;
  box-sizing: border-box;
}
#selectedHotel{
  background-color:#A5A5A5;
  width:100%;
  height:43%;
  margin:auto;
  box-sizing: border-box;
}
.divisoria {
  margin:10px;
}
#selectedActivities {
  background-color: #A5A5A5;
  width:100%;
  height:55%;
  margin:auto;
  box-sizing: border-box;
}
#sizing {
  max-height: 100vh;
}

/* Buttons and Nav links */ 
.links{
  padding-top:10px;
}

.navBtn {
  background: #000;
}

/* User profile */

#user-account-details{
  padding: 5% 0 0 5%;
  float:left;
}
#user-account-details h2{
  margin-bottom: 10px;
}
#user-account-details ul li {
  list-style:none;
}

.atributos {
  max-width:20%;
  font-weight:600;
  
}

.descritivo {
  font-weight:600;
  width:10%;
}

.foto-usuario {
  margin: 5px;
  padding: auto;
}
.foto-usuario img {
  max-width:250px;
  max-height:250px;
  background: center;
  width: 100%;
  margin: auto;
  padding: auto;
}


/* Event Page */

#pageEvento{
  padding:10px;
  box-sizing:border-box;
}
.logoEvento{
  background-color: #000000;
  width:200px;
  height:200px;
  margin: auto;
}
#aboutEvento {
  padding-top:20px;
}
#aboutEvento a{
  background-color:transparent;
  border: 1px solid;
  box-sizing:border-box;
  padding: 15px;
  margin: 0 3%;
}


/* Miscellaneous */

#palestras img {
    width: 80px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;
  
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.detalhe-palestra .palestrante {
    border: solid 1px;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;margin-bottom: 20px;
}
.palestrante img {
    box-shadow: 0 0 8px;
    padding: 5px;
    width: 150px;border-radius: 10px;
}
p.index-palestra {
    background: aliceblue;
    color: white;
    padding: 5px;
    text-align: center;
}
p.index-palestra.destroy {
    background: red;
}

/**/
#pessoas-no-quarto li img {width: 70px;border-radius: 40px;height: 70px;}
div#pessoas-no-quarto li {list-style: none;float: left;margin: 5px;text-align: center;}

/* Footer */
#footer {
  margin-bottom: 0;
  background-color: #000000;
}

/* Function clear */

.cleaning {
  clear:both;
}