// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* somente para organizar  */
/*div#user-account-details,
div#new-user, div#sign-up,
div#user-index-html,#user-detail,
#log-in, form.nova-palestra,
#nova-palestra, .detalhe-palestra {
    border: solid 1px;    margin: 1px;     padding: 10px;
}*/