<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>Gipsy Avenger</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <body>
    <h4 class="easterEgg"> FILE : views/layouts/application.html</h1>
    <h4 class="easterEgg"> Isso é o header</h2>
    <% if logged_in?%>
      <header id="loggedHeader">
          <p> <span class="usuer">Olá, <%= current_user.nome %> </span>
            <%= link_to "Logout", logout_path, method: :delete %>
            <%=link_to "Minha conta", user_path(current_user.id) %>
            <%= link_to "Home", home_path %>
            <%= link_to 'Painel do ADM', crud_path if @current_user.adm.present? %>
          </p>
        <div class="cleaning"></div>
      </header>
        <div class="container">
          <div id="homepage">
            <div id="sizing" class="three columns">
              <main id="userMain">
              <div class="foto-usuario"><%= image_tag(@current_user.photo_url) if @current_user.photo.present? %></div>
                <h4><%= @current_user.nome %> <%= @current_user.sobrenome %></h4>
                <h4><%= @current_user.ej.nome %></h4>
                <h4><%= "Administrador" if @current_user.adm.present? %></h4>
                <h4><%= "Palestrante" if @current_user.palestrante.present? %></h4>
              </main>
              <div id="topEJs">
                <h3>Top 5: Empresa Junior</h3>
                <% ejs.each do |ej| %>  
                  <h4><%= ej.nome %></h4>
                <% end %>
              </div>
              <div id="topEJs">
                <h3>Top 5: Federação</h3>
                <% federacaos.each do |federacao| %>  
                  <h4><%= federacao.nome %></h4>
                <% end %>
              </div>
            </div>
          </div>
          <div class="nine columns">
            <nav id="userNav"><ul
              <li><%= link_to 'Home', home_path %></li>
              <li><%= link_to 'O Evento', evento_path %></li>
              <li><%= link_to 'Programação', palestras_path %></li>
              <li><%= link_to 'Acomodações', hotel_pousadas_path %></li>
              <li><a href="#">Transferências</a></li>
            </ul></nav>
            <div id="content">
              <%= yield %>  <!-- CONTEUDO GERAL  -->
            </div>
          </div>
        <% else %>
      <%= yield %>  <!-- CONTEUDO GERAL  -->
    <% end %>
        <div class="cleaning"></div>
      </div>
    </div>
  </body>
</html>
